<%-include('./partials/header') %>

<div class="container-fluid entry">
    <form method="post" action="">
      <div class="row">
      <div class="form-floating">
        <input name="userName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">User Name</label>
      </div>
      <div class="form-floating">
        <input name="emailId" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input name="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="button">
      <button class="w-75 btn btn-primary" type="submit">Login in</button>
      </div>
      </div>
      </div>
    </form>
  </div>
  



<%-include('./partials/footer') %>